/* #ff7066 p1 */
/* #ff9a14 p2 */
/* #5297ff p3 */
/* grey    p4 */

.checkbox-descr {
  display: flex !important;
  text-align: left !important;
  width: 60% !important; 
  /* margin: 0 -0.5rem 0 -1rem !important; */
  /* padding: 1.25rem 0.5rem 1.25rem 1rem !important; */
}

.checkbox-descr .item-content {
  overflow-wrap: break-word !important; 
  font-size: 2rem !important;
  height: 2.4375rem !important;
}

.checkbox-descr .due {color: #ff7066 !important;}

/*****************************************************************************/

/* remove default blue background on 'done' button */
.ui-btn:enabled:focus {background-color: transparent !important;}

.done-btn {
  background-image: none !important; /* remove default image */
  width: 70px !important;
  height: 70px !important;
}

.calendar_icon {margin: 0 2px -3px 0 !important;}

.p4 {fill: #ff7066;}
.p3 {fill: #ff9a14;}
.p2 {fill: #5297ff;}
.p1 {fill: grey;}